*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}

.contenair{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 3%;
    background-color: rgb(41, 40, 40);
}

.gallery{
    background-color: rgb(41, 40, 40);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 25px;
    padding: 1rem;
    border-radius: 8px;
}

.gallery a{
    background-color: rgb(41, 40, 40);
    padding: .6rem;
    border-radius: 5px;
    box-shadow: 0 0 .2rem  black;
    height: auto;
       
}

.gallery img{
    width: 100%;
    border-radius: 5px;
}

.gallery a{
    text-decoration: none;
    display: block;
    justify-content: center;
    text-align:justify;
    
}

.gallery a p{
    color: aliceblue;
}

@media (max-width: 700px) {
    .contenair{
        padding: 20px 1%;
    }

    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-gap: 15px;
        padding: .6rem;
    }

    .gallery a{
        height: max-content;
    }

    main {
        padding: 1rem;
    };
}